{
  "branches": "main",
  "preset": "conventionalcommits",
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits",
      "releaseRules": [
        { "type": "release", "scope": "patch", "release": "patch" },
        { "type": "release", "scope": "minor", "release": "minor" },
        { "type": "release", "scope": "major", "release": "major" },
        { "breaking": true, "release": false },
        { "type": "fix", "release": false },
        { "type": "feat", "release": false },
        { "type": "perf", "release": false },
        { "type": "revert", "release": false }
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}